<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form action="#" th:action="@{/logout}" method="POST">
                    <button type="submit" id="logout-button" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist"}>
                        <a class="nav-item nav-link"
                           th:classappend="${tab == 'file' || tab == null  ? 'show active' : ''}"
                           th:id="nav-files-tab"
                           data-toggle="tab"
                           href="#nav-files"
                           role="tab"
                           aria-controls="nav-files"
                           aria-selected="true"
                        th:text="Results">filename</a>
                        <a class="nav-item nav-link" th:classappend="${tab == 'module' ? 'show active' : ''}"
                           id="nav-modules-tab" data-toggle="tab" href="#nav-modules"
                           role="tab" aria-controls="nav-module" aria-selected="false">Modules</a>
                        <a class="nav-item nav-link" th:classappend="${tab == 'credential' ? 'show active' : ''}"
                           id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" th:classappend="${tab == 'file' || tab == null  ? 'show active' : ''}"
                         id="nav-files"
                         role="tabpanel"
                         aria-labelledby="nav-files-tab">
<!--                        <form action="#" th:action="@{/upload}" enctype="multipart/form-data"-->
<!--                              method="POST">-->
<!--                            <div class="container">-->
<!--                                <div class="row" style="margin: 1em;">-->
<!--                                    <div class="col-sm-2">-->
<!--                                        <label for="fileUpload">Upload a New File:</label>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <input type="file" name="webfile" class="form-control-file"-->
<!--                                               id="fileUpload" required>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <button id="upload-button" name="upload-file" type="submit"-->
<!--                                                class="btn btn-dark">Upload-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
                        <div class="table-responsive">
<!--                            <div id="error-msg" th:if="${uploadError}" class="alert alert-danger">-->
<!--                                <span th:text="${uploadError}"></span>-->
<!--                            </div>-->
<!--                            <div th:if="${file_success}" class="alert alert-success">-->
<!--                                <span th:text="${file_success}"></span>-->
<!--                            </div>-->
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 16%" scope="col">Module Name</th>
                                        <th style="width: 16%" scope="col">Author</th>
                                        <th style="width: 16%" scope="col">Commit Message</th>
                                        <th style="width: 16%" scope="col">Execution Date</th>
                                        <th style="width: 16%" scope="col">Hash</th>
                                        <th style="width: 16%" scope="col">Output</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <div id="files" th:each="result : ${results}">
                                <tr>
                                        <th scope="row" th:text="${result.moduleName}">filename</th>
                                        <th scope="row" th:text="${result.author}">author</th>
                                        <th scope="row" th:text="${result.commitMessage}">message</th>
                                        <th scope="row" th:text="${result.executionDate}">date</th>
                                        <th scope="row" th:text="${result.commitHash}">hash</th>
                                        <th scope="row" ><a target="_blank" th:href="@{/download/(resultId=${result.resultId})}"
                                                            class="btn btn-success">output.txt </a></th>View</a></th>
                                </tr>
                                </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" th:classappend="${tab == 'module' ? 'show active' : ''}"
                    id="nav-modules" role="tabpanel" aria-labelledby="nav-modules-tab">
                        <button style="margin: 0.25em;" id="add-new-module" type="button"
                                class="btn btn-info float-right"
                                onclick="showModuleModal()">
                            + Add a New Module
                        </button>
                        <div class="table-responsive">

<!--                            <div th:if="${note_success}" class="alert alert-success">-->
<!--                                <span th:text="${note_success}"></span>-->
<!--                            </div>-->
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th  style="width: 30%" scope="col">Name</th>
                                        <th style="width: 70%" scope="col">Git URL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <div th:each="module : ${modules}">
                                    <tr id="note-display">
                                        <th id="display-note-title" scope="row"
                                            th:text="${module.moduleName}">Module Name
                                        </th>
                                        <th id="display-note-description" scope="row">
                                            <a target="_blank"
                                               th:href="${module.gitURL}"
                                               th:text="${module.gitURL}">Git URL
                                            </a>
                                        </th>
                                    </tr>
                                </div>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal fade" id="moduleModal" tabindex="-1" role="dialog" aria-labelledby="moduleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="moduleModalLabel">Module</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:action="@{/create_module}" method="POST">
                                            <input type="hidden" name="moduleId" id="module-id">
                                            <div class="form-group">
                                                <label for="module-name" class="col-form-label">Module Name</label>
                                                <input type="text" name= "moduleName" class="form-control" id="module-name" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="git-url" class="col-form-label">Git URL</label>
                                                <textarea class="form-control" name="gitURL" id="git-url" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="moduleSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" id="save-changes" class="btn btn-primary"
                                                onclick="$('#moduleSubmit').click();">Add Module</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" th:classappend="${tab == 'credential' ? 'show active' : ''}"
                         id="nav-credentials" role="tabpanel"
                         aria-labelledby="nav-credentials-tab">
                        <button id="add-new-credential" style="margin: 0.25em;" type="button"
                                class="btn btn-info float-right" onclick="showCredentialModal()">
                            + Add a New Credential
                        </button>
                        <div class="table-responsive">
                            <div th:if="${credential_success}" class="alert alert-success">
                                <span th:text="${credential_success}"></span>
                            </div>
                            <table class="table table-striped" th:object="${credentials}" id="credentialTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 35%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 25%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                        <div id="credentials" th:each="credential : ${credentials}">
                            <tr>
                                    <td>
                                        <button id="edit-credential" type="button" class="btn btn-success"
                                        th:attr="onclick=|showCredentialModal(
                                                credentialId='${credential.credentialid}',
                                                url='${credential.url}',
                                                username='${credential.username}',
                                                password='${credential.unencryptedPassword}')|">
                                            Edit</button>
                                        <a id="delete-credential"
                                           th:href="@{/delete_credential/(credentialid=${credential.credentialid})}"
                                           class="btn btn-danger">
                                            Delete</a>
                                    </td>
                                    <th scope="row" id="display-credential-url" th:text="${credential.url}">Example
                                        Credential URL</th>
                                    <td id="display-credential-user" th:text="${credential.username}" >Example
                                        Credential Username</td>
                                    <td id="display-credential-password" th:text="${credential.password}">Example
                                        Credential Password</td>
                                </tr>
                        </div>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:action="@{/create_credential}" method="POST">
                                            <input type="hidden" name="credentialId" id="credential-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">URL</label>
                                                <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Username</label>
                                                <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Password</label>
                                                <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required>
                                            </div>
                                            <button id="credentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="save-credentials" type="button" class="btn btn-primary"
                                                onclick="$('#credentialSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showModuleModal(moduleId, moduleName, gitURL) {
                $('#module-id').val(moduleId ? moduleId : '');
                $('#module-name').val(moduleName ? moduleName : '');
                $('#git-url').val(gitURL ? gitURL : '');
                $('#moduleModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }
        </script>
    </body>
</html>